

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**_VARIABLES__________________________________________________________________________________ */

:root {
  /* Colors */
  --Primary: #194358;
  --Secondary: #00b4d8;
  --Button: #f5af00;
  --Other: #e04b4b;
  --White: #e0eff5;
  --Black: #00171f;

  /* Fonts */
  --TitleCard: 27px;

  /* Others */
  --RadiusOne: 10px;
  --ShadowOne: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

/**_GLOBALS____________________________________________________________________________________*/

li {
  list-style: none;
}
