/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/**_VARIABLES__________________________________________________________________________________ */

:root {
  /* Colors */
  --Primary: #194358;
  --Secondary: #00b4d8;
  --Button: #f5af00;
  --Other: #ce0b0b;
  --White: #f1f1f1;
  --Black: #00171f;

  /* Fonts */
  --TitleCard: 27px;
  --TitleForm: 30px;
  --TitleFormTwo: 25px;

  /* Others */
  --RadiusOne: 10px;
  --RadiusBtn: 4px;
  --RadiusSide: 0 10px 10px 0;
  --ShadowOne: 3px 3px 3px rgba(0, 0, 0, 1);
  --ShadowTwo: 2px 2px 2px rgba(0, 0, 0, 1);
  --ShadowBtn:  1px 1px 1px rgba(0, 0, 0, 1);
  --Transition: .4s;
}

/**_GLOBALS____________________________________________________________________________________*/
body{
  background: var(--White);
}
ul {
padding-left: 0px;
}

li {
  list-style: none;
}

ul{
  padding-left: 0px;
}


/** EventStrap */

/** Buttons */
.EbtnCard{
  margin-top: 70px;
  background-color: var(--Button);
  border-radius: var(--RadiusOne);
  width: 70px;
}
.EbtnCard:hover{
  background-color: var(--Other);
  color: var(--White);
}
@media (max-width: 420px) { 
  .card{
   width: 50vw;
  }
}