.card{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleCard{
color: burlywood;
}

.imgCard{
width: 200px;
}

.infoCard{
    color: rgb(128, 57, 241);
}

.btnCard{
    background-color: coral;
}