.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subContainer{
    display: flex;
   
}

.imgHead{
    width: 100%;
}

.list{
    background-color: aqua;
}

.data{
    background-color: blueviolet;
}