.form-event{
    background-color: var(--Black);
}
.container-event{
    background-color: var(--Secondary);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 1px;
    border-radius: var(--RadiusOne);
    width: 70%; 
    height: 50%;
}
input{
    width: 50%;
}
select{
    width: 51%;
}
.button-event{
    background-color: var(--Button);
    width: 12%;
    border-radius: 7px;
    position: relative;
    left: 50%;
}
