.slides{
    min-width:100%;
    overflow: hidden;
    transition: .3s ease all;
    z-index:10;
    max-height: 500px;
    position: relative;
}

.slides img {
    width: 100%;
    vertical-align:top;
    object-fit: cover;
    object-position: center center;
}

.textSlide{
    background: rgba(25, 67, 88,.5);
    color: var(--White);
    width:40%;
    height: 100%;
    text-align:center;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}