.container{
  background-color: var(--Primary);
  z-index: 100;
  width: 300px;
  position: sticky;
  top: 0px;
  margin-right: 0px;
}
@media (max-width: 750px) { 
  .container{
    z-index: 100;
    width: 0px;
    position: sticky;
    top: 0px;
  }
}

.aside{
    background-color: var(--Primary);
    width: 300px;
    height: 850px;
    z-index: 15;
    border-radius: var(--RadiusSide);
    box-shadow: var(--ShadowOne);
    margin-top: 0px;
    padding-top: 10px;
}
@media (max-width: 750px) { 
  .aside{
 width: 97.1vw;
margin-top: 0;
border-radius: 0px ;
  }
}

.title{
    color: var(--White);
    text-align: center;
    margin-right: 10px;
}