.btn {
    background-color: var(--Secondary);
    color: var(--Black);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-width: 0;
    margin: 40px;
    align-self: center;
}
    
    .btn:hover {
    transform: scale(1.2);
    background-color: var(--Button);
    transition-duration: 300ms;
    }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background: var(--Black);
    color: var(--White);
}
.container input, select {
    border: 1px var(--Black) solid;
    border-radius: 10px;
    background: var(--Black);
    color: var(--White);
}

/* ESTILOS DE AUTOCOMPLETADO */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--White);
    -webkit-box-shadow: 0 0 0px 1000px var(--Black) inset;
}

/* cont */
.cont{
    margin-top: 50px;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    background: var(--Primary);
    box-shadow: 0px 0px 20px black;
}

.contRend{
    margin: 70px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px; */
    border-radius: 10px;
    background: var(--Primary);
    box-shadow: 0px 0px 50px black;
    /* transition-duration: 3s; */
}
/* subcont */
.contForm2{

    
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 50px;
  
}

/* ubicacion */
.ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.errorState{
    border: 1px red solid;
}

.errorState select {
    width: 200px;
}
/* .ubication span{
    width: 130px;
    height: auto;
    text-align: right;
}
.ubication input{
    width: 150px;
    height: auto;
    margin-right: 20px; 
} */
/* infonegocio */
.formTitle {
    font-size: 1.5rem;
    color: var(--Button);
    font-weight: 350;
    margin: 20px;
}
.datesCompany{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
}
/* contacto */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
}
/* password */
.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
    justify-self: right;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 0.25rem;
}
/* btn */
.submitBtn{
    margin-top: 20px;
}
/* .nameP{
    display: flex;
    margin: 5px;
}
.nameP span{
    width: 85px;
    height: auto;
    text-align: right;
}
.nameP input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
/* contact */
/* .contact{
    display: flex;
    margin: 5px;
}
.contact span{
    width: 85px;
    height: auto;
    text-align: right;
}
.contact input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
/* password */
/* .password{
    margin: 5px;
    display: flex;
}
.password span{
    width: 85px;
    height: auto;
    text-align: right;
}
.password input{
    width: 150px;
    height: auto;
    margin-right: 20px;
} */
/* contPais */
/* .contPais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
} */
/* pais */
/* .pais{
    width: 200px;
} */
/* ubication */
/* .ubication{
    display: flex;
    justify-content: center;
}
.ubication span{
    width: 130px;
    height: auto;
    text-align: right;
}
.ubication input{
    width: 150px;
    height: auto;
    margin-right: 20px; */
