.promotorDates{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
/* nameP */
.nameP{
    display: flex;
    margin: 5px;
}
.nameP span{
    width: 85px;
    height: auto;
    text-align: right;
}
.nameP input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
/* contact */
.contact{
    display: flex;
    margin: 5px;
}
.contact span{
    width: 85px;
    height: auto;
    text-align: right;
}
.contact input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
/* password */
.password{
    margin: 5px;
    display: flex;
}
.password span{
    width: 85px;
    height: auto;
    text-align: right;
}
.password input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}
/* contPais */
.contPais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
/* pais */
.pais{
    width: 200px;
}
/* ubication */
.ubication{
    display: flex;
    justify-content: center;
}
.ubication span{
    width: 130px;
    height: auto;
    text-align: right;
}
.ubication input{
    width: 150px;
    height: auto;
    margin-right: 20px;
}