.btn {
    background-color: var(--Secondary);
    color: var(--Black);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-width: 0;
    margin-top: 40px;
    align-self: center;
}
    
    .btn:hover {
    transform: scale(1.2);
    background-color: var(--Button);
    transition-duration: 300ms;
    }
.business_type {
    width: 300px;
}

.contRend input, select {
    border: 1px var(--Black) solid;
    border-radius: 10px;
    background: var(--Black);
    color: var(--White);
}

.contRend span {
    min-width: max-content;
}

/* ESTILOS DE AUTOCOMPLETADO */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--White);
    -webkit-box-shadow: 0 0 0px 1000px var(--Black) inset;
}

/* cont */
.cont{
    margin-top: 50px;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    background: var(--Primary);
    box-shadow: 0px 0px 20px black;
}

.contRend{
    margin: 70px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--White);
    border-radius: 10px;
    background: var(--Primary);
    box-shadow: 0px 0px 50px black;
 
}
/* subcont */
.contForm2{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:
    0px 15px 10px -15px var(--Black),
    0px -15px 10px -15px var(--Black);
    margin: 25px 50px 25px 50px;
}
.contForm2 input{
    width: 90%;

}

/* ubicacion */
.ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.countrySelect{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* infonegocio */
.formTitle {
    font-size: 1.5rem;
    color: var(--Button);
    font-weight: 350;
    margin: 20px;
}
.datesCompany{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
}
/* contacto */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
}
/* password */
.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 20px;
    justify-self: right;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-block: 0.25rem;
}
@media (max-width: 420px) { 
    .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.rowFile{
    display: flex;
    flex-direction: column;
}
.rowFile span{
    text-align: left;
}
.inputCheckFile{
    width: 100%;
}
.inputCheckFile input{
    width: 100%;   
}
@media (max-width: 720px) { 
    .inputCheckFile input{
        width: 100%; 
        font-size: 3vw;  
    }
}
/* btn */
.submitBtn{
    margin-top: 20px;
}
.tick {
    color: var(--Button);
    font-weight: 600;
    width: 5px;  
}

.inputCheck{
    width: 50%;
    display: flex;
}
@media (max-width: 420px) { 
    .inputCheck{
        width: 100%;
        display: flex;
        
    }
}



.inputCheck select{
    width: 100%;
}