.contPrin{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contProfile {
    position: relative;
    background: var(--Secondary);
    width: 70%;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) { 
    .contProfile{
        position: relative;
        background: black;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
    /* @media (max-width: 420px) { 
      .card{
       width: 50vw;
       height: max-content;
      }
    } */

.imgProfile{
    position: absolute;
    background: gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top:25px;
    overflow: hidden;
}

.imgProfile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contInfo {
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
}