.comment-card {
  border: 0.5px solid var(--Black);
  border-radius: 5px;
  padding: 2px;
  color: var(--White);
}
.stars {
  color: var(--Button);
}
.comment-top-half {
  font-size: large;
  display: flex;
  align-items: flex-start;
}
.comment-bottom-half {
  text-align: start;
}
