.comment-card {
  border: 0.5px solid var(--Black);
  border-radius: 5px;
  padding: 2px;
  color: var(--White);
  width: 640px;
  margin: auto;
  background-color: var(--Primary);
  box-shadow: 5px 10px #00000081;
  margin-bottom: 3px;
  margin-top: 4px;
}
.stars {
  color: var(--Button);
}
.comment-top-half {
  padding-left: 5px;
  text-shadow: 1px 1px 2px black;
  font-size: large;
  display: flex;
  align-items: flex-start;
}
.comment-bottom-half {
  padding-left: 5px;
  text-align: start;
}
