.detailsAllUser {
  background-color: var(--Primary);
  text-align: center;
  color: var(--White);
}

.detailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /*  margin: 20px; */
}

/* @media {} MEDIA QUERY PARA HACER EL FLEX*/
.carousel,
.otherDetailsUser {
  background-color: var(--Black);
  box-shadow: 5px 10px #00000081;
  border-radius: 4px;
}

.otherDetailsUser {
  height: 600px; /* DESPUÉS MODIFICAR. */
  max-width: 50vw;
  min-width: 40vw;
  margin: 20px;
}

.otherDetailsUser h4 {
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0;
}
.detailsUsers2User {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttonContainer {
  padding: 50px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.button {
  cursor: pointer;
  font-size: large;
  width: 150px;
  height: 30px;
  color: var(--White);
  background-color: var(--Button);
  border: none;
  border-radius: var(--RadiusOne);
}

.description {
  display: block;
  margin: auto;
  text-align: justify;
  max-width: 600px;
  /* justify-content: center; */
}

.rightColumn {
  max-width: 250px;
}
.leftColumn {
  margin-right: 150px;
  max-width: 250px;
}

.titleCard {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
