
.detailsCardUser{
  display:inline-block;
  position:relative;
  height: 450px;
  width: 1200px;
  margin: 100px auto;
  

}

.button-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.deailscard2User{
  float:left;
  position: relative;
  left:35px;
  top: -30px;
  height: 920px;
  width: 1200px;
  box-shadow: 10px 10px 60px 0px rgb(0,0,0,0.75);
  overflow:hidden;
  background-color: var(--Primary);
}
.img{
  position: absolute;
  left:40%;
  top:50%;
  height: auto;
  width: 100%;
  translate:(-50%,-50%);
  transform: translate(-50%,-50%);

}
.otherDetailsUser{
  margin-left: 900px;
  margin-top : 10px;
	border : 1px solid #C3C3C3;
  display: column;
  column-count: 2;

}
.p{
  
	text-align: justify;
	padding-top : 10px;
	font-size : 0.95rem;
	line-height: 150%;
	color :var(--Secondary);
}
.h4{
  
	color : var(--Button);
}

.button {
  font-size: large;
  width: 150px;
  height: 30px;
  color: var(--White);
  background-color: var(--Button);
  border: none;
  border-radius: var(--RadiusOne);
}

.comments-container {
  margin: auto;
  max-width: 500px;
  background-color: var(--White);
  color: var(--Black);
}
