.details {
  background-color: var(--Black);
}
.event-main {
  margin: auto;
}
.title {
  text-align: center;
  color: var(--White);
}
.poster {
  display: block;
  margin: auto;
  max-width: 500px;
}
.event-details {
  margin: auto;
  background-color: var(--White);
  color: var(--Black);
  max-width: 500px;
}
.button-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.button {
  font-size: large;
  width: 150px;
  height: 30px;
  color: var(--White);
  background-color: var(--Button);
  border: none;
  border-radius: var(--RadiusOne);
}

.comments-container {
  margin: auto;
  max-width: 500px;
  background-color: var(--White);
  color: var(--Black);
}
